/* Variabes */  
:root{
    --orange: #ffa600;
    --green: #c1d72e;
    --blue: #82d2e5;
    --grey: #f3f3f3;
    --white: #fff;
    --base-color:var(--blue) ;
}


body{
    height: 100%;
    box-sizing: border-box;
    background-color: var(--base-color);
    background-image: linear-gradient(rgb(102, 99, 99),var(--base-color),var(--green),var(--base-color));
    background-repeat: no-repeat,no-repeat;
    background-size: cover;
    text-align: center;
}

p{
    text-transform: uppercase;
}

.container{
    margin: 0 13%;
}

.card{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 150px;
    margin: 10px 5px;
    /* margin-top: 10px; */
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 4px 8px;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.front{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #cccccc;
    background-image: url("images/sample.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    backface-visibility: hidden;
    border-radius: inherit;
}

.back{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #cccccc;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: inherit;
}

.flip{
    transform: rotateY(180deg);
}